<!DOCTYPE html>
<html>

<head>
    <title>Taskly</title>
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon"/>
    <link href="../static/css/main-page.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/main-page-dark.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous">
    </script>
</head>

<body>
    <div class="container">
        <!-- Top Navbar -->
        <div class="left-top-navbar" style="padding: 10px;"></div>
        <img src="../static/img/logo.png" alt="Taskly" class="logo"/>
        
        <div class="top-nav">
            <div class="right-top-navbar">
                <img src="../static/img/lightdark-icon-black.png" class="mode-icon" id="lightdarkIcon" onclick="toggleLightDarkMode()">
                <!------- TODO: Remove placeholder username and user-circle text -------->
                <span class="username">Welcome, Royal Devil</span> 
                <div class="user-circle" onclick="toggleDropdown()">R</div>

                <!-- Dropdown Menu -->
                <div class="user-dropdown" id="userDropdown">
                    <form action="{{ url_for('logout') }}" method="POST" style="display:inline;">
                        <button type="submit" class="logout-button">Log Out</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div id="list-title" class="list-title">My Tasks</div>
            <div class="box">
                <div id="no-tasks-message">
                    You have no tasks.
                </div>

                <ul id="taskList">
                    <!-- <li>
                        <div class="circle" onclick="taskCompleted(event)"></div>
                        <div class="task-input task-text" contenteditable="true" onchange="updateTask(event)">Task 1</div>
                        <img src="../static/img/delete.png" class="delete-button" onclick="deleteTask(event)" alt="Delete"/>
                    </li> -->
                </ul>
                <form id="input-container">
                    <input type="text" id="newTaskInput" placeholder="Add a New Task" />
                    <button id="addButton" onclick="addTask(event)">+</button>
                </form>
            </div>
        </div>
    </div>

    <script src="../static/js/main.js"></script>
    <script src="../static/js/auth.js"></script>
</body>
</html>